.card {
  background-color: #f6f7fb93;
  border-radius: 20px;
  margin: 10px 80px 45px;
  max-height: 100vh;
  box-shadow: 15px 25px #e5e6eb5e;
}

.cardContent {
  padding: 0 50px 30px;
}

.cardBtns {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.cardBtns button {
  cursor: pointer;
}

.cardBtns button:focus {
  outline: none !important;
}

.listTypeDiv {
  display: flex;
  margin-top: -15px;
  border-radius: 80px;
  text-align: center;
}

.listTypeDiv h2 {
  flex-direction: flex-start;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  padding: 2px 20px 10px;
  border-radius: 20px;
  position: relative;
  height: 15px;
}
