.card {
  background-color: #f6f7fb93;
  border-radius: 20px;
  margin: 10px 80px 45px;
  position: relative;
  /* top/right/bottom/left */
  /* margin: 10px 0px 45px 80px; with right side of card closer to the right nav */
  max-height: 100vh;
  box-shadow: 15px 25px #e5e6eb5e;
}

.cardContent {
  padding: 0 50px 30px;
}

.deleteBtn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.deleteBtn button {
  cursor: pointer;
}

.deleteBtn button:focus {
  outline: none !important;
}

.deleteBtn button:active {
  transform: scale(0.3);
}

.editBtn {
  display: inline-block;
  position: absolute;
  right: 40px;
  font-weight: 600;
}

/* .editBtn:active {
  transform: scale(0.1);
} */

.completedMark {
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-right: 20px;
  font-weight: 600;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 40px;
}

.listTypeDiv {
  display: flex;
  margin-top: -15px;
  margin-bottom: 15px;
  border-radius: 80px;
  text-align: center;
}

.listTypeDiv h2 {
  flex-direction: flex-start;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  padding: 2px 20px 10px;
  border-radius: 20px;
  position: relative;
  height: 15px;
}

/* Animista animations */

/* .slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
} */
