.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cardContainer {
  height: 820px;
  overflow-y: auto;
}

.modalSubmitBtn:focus {
  outline: none;
}

.modalSubmitBtn:active {
  transform: scale(0.95);
}

.listModalBtn:focus {
  outline: none;
}

.listModalBtn:active {
  transform: scale(0.95);
}

::-webkit-scrollbar {
  /* display: none; */
}

.addTaskBtn {
  position: relative;
  cursor: pointer;
  margin-top: -40px;
  margin-left: 500px;
}

.addTaskBtn:focus {
  outline: none;
}

.addTaskBtn:active {
  transform: scale(0.95);
}
