.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cardContainer {
  height: 810px;
  overflow-y: auto;
}

.modalSubmitBtn:focus,
.listModalBtn:focus,
.addTaskBtn:focus {
  outline: none;
}

.modalSubmitBtn:active,
.listModalBtn:active,
.addTaskBtn:active {
  transform: scale(0.95);
}

.addTaskBtn {
  position: relative;
  cursor: pointer;
  margin-top: -40px;
  margin-left: 600px;
}

.cardSearch {
  margin-left: 88px;
  margin-bottom: 20px;
  width: 590px;
}
