.rightNav {
  text-align: center;
  grid-area: 1 / 3 / 6 / 4;
}

.accountInfo {
  margin-top: 40px;
  /* margin-left: -80px; */
  display: flex;
  justify-content: space-between;
}

.accountInfo h1 {
  margin-left: 40px;
}

.userImg {
  object-fit: contain;
  transform: scale(0.7);
  border-radius: 50%;
  margin-top: -25px;
  margin-right: 280px;
}

.githubDiv {
  position: relative;
  background-color: #f6f7fb93;
  border-radius: 20px;
  width: 50%;
  height: 500px;
  transform: scale(0.8);
  padding-top: 50px;
  margin-left: 65px;
}

.gitman {
  position: absolute;
  bottom: -33px;
  right: 120px;
  overflow: hidden;
  transform: scale(0.8);
}

.gitmanBtn {
  position: absolute;
  top: 450px;
  right: 10px;
  transform: scale(0.7);
  cursor: pointer;
}
